<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>上海大学道场</key>
	<array>
		<dict>
			<key>Latitude</key>
			<string>31.321311</string>
			<key>Longitude</key>
			<string>121.390064</string>
			<key>Name</key>
			<string>宝山校区道场</string>
			<key>Position</key>
			<string>上海大学宝山校区体育馆</string>
			<key>Time</key>
			<string>训练时间：每周一、三的19:30～21:30</string>
		</dict>
		<dict>
			<key>Latitude</key>
			<string>31.277422</string>
			<key>Longitude</key>
			<string>121.451926</string>
			<key>Name</key>
			<string>延长校区道场</string>
			<key>Position</key>
			<string>延长校区体育馆</string>
			<key>Time</key>
			<string>训练时间：每周一、三的19:30～21:30</string>
		</dict>
		<dict>
			<key>Latitude</key>
			<string>31.380381</string>
			<key>Longitude</key>
			<string>121.244320</string>
			<key>Name</key>
			<string>嘉定校区道场</string>
			<key>Position</key>
			<string>嘉定校区体育馆</string>
			<key>Time</key>
			<string>训练时间：每周一、三的19:30～21:30</string>
		</dict>
	</array>
	<key>上海政法大学道场</key>
	<array>
		<dict>
			<key>Latitude</key>
			<string>31.111459</string>
			<key>Longitude</key>
			<string>121.168432</string>
			<key>Name</key>
			<string>青浦校区道场</string>
			<key>Position</key>
			<string>上海政法体育馆</string>
			<key>Time</key>
			<string>训练时间：每周一、三的19:30～21:30</string>
		</dict>
	</array>
	<key>社会道场</key>
	<array>
		<dict>
			<key>Latitude</key>
			<string>宝山校区</string>
			<key>Longitude</key>
			<string></string>
			<key>Name</key>
			<string>南站</string>
			<key>Position</key>
			<string>龙茗路</string>
			<key>Time</key>
			<string>训练时间：每周一、三的19:30～21:30</string>
		</dict>
		<dict>
			<key>Latitude</key>
			<string>延长校区</string>
			<key>Longitude</key>
			<string></string>
			<key>Name</key>
			<string></string>
			<key>Position</key>
			<string></string>
			<key>Time</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
