<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>上海大学宝山校区道场</string>
		<key>Location</key>
		<string>上海大学宝山校区体育馆</string>
		<key>TranningTime</key>
		<string>每周一、三的19:30至21:30。</string>
		<key>Image</key>
		<string></string>
	</dict>
</array>
</plist>
